@media (max-width : 991.98px){
    #navbar .menu_bar .menu{
        display: none !important;
    }
    #navbar .handbar{
        display: block;
    }
    #navbar .menu_bar .nav_btn{
        display: none;
    }
    #navbar .container{
        position: relative;
    }
    #navbar .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        transition: var(--common-transition);
        transform: translate(-50%,-45%);
    }
    #navbar .hide_everything{
        background: rgba(0,0,0,0.7);
        position: fixed;
        width: 0%;
        top: 0;
        height: 100%;
        left: 0;
        z-index: 98;
    }
}
@media (min-width:992px) {
    #navbar .container{
        position: relative;
    }
    #navbar .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        transition: var(--common-transition);
        transform: translate(-50%,-45%);
    }
    #navbar .logo.left_side{
        transform: translate(0%,-45%);
        top: 50%;
        left: 0;
    }
    #navbar .hide_everything{
        display: none;
    }
}
