/* table of content 

--> home page table
1.header
2.navbar
3.banner
4.services
5.about
6.portfolio
7.achievement
8.blog
9.testimonial
10.brand
11.footer
12.copyright

--> About US page table
1.header
2.navbar
3.navigationStatus


table of content */


/*Bootstrap common css */
h1,h2,h3,h4,h5,h6,
small,span,
ul,ol,
p{
margin:0;
padding:0;
font-family: var(--roboto);
}
ul,ol{
list-style-type:none;
}
a,a:hover{
text-decoration:none;
text-transform:none;
font-family: var(--roboto);
}
/*Bootstrap common css */
/* common css */
:root{
    --roboto: 'Roboto', sans-serif;
    --light-black:#353535;
    --light-yellow:#ffca36;
    --white:#fff;
    --common-transition:0.2s linear;
    --light-gray:#ddd;
    --dark-gray:#555555;
    --dark-white:#575757;
}
img{
    max-width:100%;
}
ul li a::before,
ul li a::after,
.slider-icon::after,
.slider-icon::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    background: none;
    transform: translate(-50%,-50%);
    border-left: 1px solid var(--light-black);
    border-right: 1px solid var(--light-black);
    opacity: 0;
    visibility: hidden;
    transition: var(--common-transition);
}

ul li a::after,
.slider-icon::after{
    width: 70%;
    height: 65%;
    border: none;
    border-top: 1px solid var(--light-black);
    border-bottom: 1px solid var(--light-black);
}
ul li:hover a::before,
ul li:hover a::after{
    opacity: 1;
    visibility: visible;
}
.primary_header{
    text-align: center;
    margin: 80px 0px 50px;
}
.primary_header h2{
    font-weight: 300;
    font-size: 35px;
    color: var(--light-black);
    margin-bottom: 30px;
}
.primary_header p{
    color: var(--dark-gray);
    font-size: 400;
    line-height: 25px;
    word-spacing: 76%;
    margin-top: 20px;
}
.secondary_header h2{
    font-weight: 400;
    font-size: 35px;
    color: var(--white);
    text-transform: uppercase;
}
.secondary_header p{
    font-size: 18px;
    color: white;
    text-align: center;
}
.secondary_header p i{
    font-size: 15px;
}
.secondary_header p span{
    color: var(--light-yellow);
}
.thumb{
    position: relative;
    z-index: 1;

}
.thumb::before{
    inset: 0;
    position: absolute;
    inset: 0;
    content: '';
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
.thumb img {
	position: relative;
	left: 625px;
	width: 327px;
}
.slider-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.icon{
    font-size: 50px;
    color: var(--white);
    padding: 10px 20px;
    transition: var(--common-transition);
}
#left-icon{
    left: 3%;
}
#right-icon{
    right: 3%;
}

.slider-icon::after,
.slider-icon::before{
    width: 100%;
    height: 120%;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    opacity: 1;
    visibility: visible;
}
.slider-icon::after{
    border: none;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    height: 100%;
    width: 120%;
}
.slider-icon:hover::after,
.slider-icon:hover::before{
    border-color: var(--light-yellow);
}
.slider-icon:hover .icon{
    color: var(--light-yellow);
}

/* common css */

/* <------------------ HOME PAGE CSS START -------------------> */

/* header section css start */
#header{
    background: var(--light-yellow);
}
#header p{
    font-size: 14px;
    font-weight: 400;
}
#header .top_header_left{
    color: var(--light-black);
}
#header .top_header_left i{
    margin-right: 3px;
}
#header .top_header_middle{
    background: var(--light-black);
    transform: skewX(-45deg);
    padding: 8px 0px;
}
#header .top_header_middle p{
    color: var(--white);
    transform: skewX(45deg);
}
#header .top_header_right ul li a{
    margin:0px 5px 0px 0px;
    color: var(--light-black);
    position: relative;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
}
/* header section css end */

/* navbar section css start */
#navbar{
    padding: 20px 0px;
    height: 101px;
}
#navbar .menu_bar{
    transform: translateY(23%);
}
#navbar .menu_bar ul li a{
    font-size: 16px;
    font-weight: 500;
    color:var(--light-black);
    position: relative;
    padding:10px 20px;
    display: inline-block;
}
#navbar .menu_bar ul li a::before,
#navbar .menu_bar ul li a::after{
    content: '';
    position: absolute; 
    width: 80%;
    height: 95%;
    border-left:1px solid var(--light-yellow);
    border-right:1px solid var(--light-yellow);
}
#navbar .menu_bar ul li a::after{
    width: 90%;
    height: 78%;
    border: none;
    border-top:1px solid var(--light-yellow);
    border-bottom:1px solid var(--light-yellow);
}
#navbar .menu_bar ul li a:hover
{
    color: var(--light-yellow);
}
#navbar .menu_bar .menu{
    opacity: 0;
    visibility: hidden;
    transition: var(--common-transition);
}
#navbar .menu_bar .menu.showHide{
    opacity: 1;
    visibility: visible;
}
#navbar .menu_bar .nav_btn{
    color: var(--light-yellow);
    background: none;
    background: none;
    padding: 5px 8px;
    border-radius: 5px;
}
#navbar .handbar{
    display: none;
    position: relative;
    z-index: 99;
}
#navbar .handbar button{
    background: none;
    padding: 4px;
    border-radius: 5px;
}
#navbar .handbar .show{
    transform: translateY(23%);
}
#navbar .handbar button img{
    margin-top: -9px;
}
#navbar .handbar .menu_bar_show {
	top: 0;
	right:-250px;
	position: fixed;
	width: 250px;
	z-index: 9;
	background: white;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}
#navbar .handbar .menu_bar_show .cancel{
    margin-top:20px
}
#navbar .handbar .menu_bar_show .menu_show{
    width: 70%;
    margin-top: 50px;
}
#navbar .handbar .menu_bar_show .menu_show li a{
    font-size: 16px;
    font-weight: 500;
    color:var(--light-black);
    padding:15px 47px;
    display: inline-block;
    position: relative;
}
#navbar .handbar .menu_bar_show .menu_show li a:hover::after,
#navbar .handbar .menu_bar_show .menu_show li a:hover::before{
    border-color: var(--light-yellow);
}
#navbar .handbar .menu_bar_show .menu_show li a:hover{
    color: var(--light-yellow);
}
#navbar .handbar .menu_bar_show .menu_show li a::after{
    width: 60%;
    height: 65%;
}
#navbar ul li a.active{
    color: var(--light-yellow);
}
#navbar .handbar .menu_bar_show .menu_show li a.active::after,
#navbar .handbar .menu_bar_show .menu_show li a.active::before{
    border-color: var(--light-yellow);
}
#navbar .active::after,
#navbar .active::before
{
    visibility: visible;
    opacity: 1;
}
/* navbar section css end */

/* banner section css start */
#banner .slider .slider_item{
    background-position: center !important;
    background-size: cover !important;
    height: 700px;
    position: relative;
    z-index: 1;
}
#banner .slider .slider_item::before{
    content:'';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
#banner .slider .slider_item .container{
    height: 100%;
    display: flex;
    align-items: center;
}
#banner .slider .slider_item h2{
    font-weight: 700;
    font-size: 32px;
    color: var(--white);
}
#banner .slider .slider_item h2 span{
    color: var(--light-yellow);
}
#banner .slider .slider_item p{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    width: 88%;
    margin: 30px 0px 60px;
}
#banner .slider .slider_item a{
    color:var(--white);
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
    padding: 16px 20px;
    display: inline-block;
    border: 1px solid var(--white);
    border-bottom: transparent;
    transition: var(--common-transition);
}
#banner .slider .slider_item a:hover{
    background: var(--light-yellow); 
    border: 1px solid var(--light-yellow);
    color: var(--light-black);
    border-bottom: transparent;
}

/* banner section css end */